<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body style="background-color: rgb(169, 245, 245); text-align: center; font: bold; padding:30px">
    <div style="position: relative; top: 100px;">
        <h1>
            <%= name %>, choose wisely!
        </h1>
    </div>

    <form action="/result" method="post">
        <input class="btn btn-success" type="submit" value="Rock" name="weapon">
        <input class="btn btn-success" type="submit" value="Paper" name="weapon">
        <input class="btn btn-success" type="submit" value="Scissors" name="weapon">
    </form>
</body>

</html>