<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body style="background-color: rgb(169, 245, 245); text-align: center; font: bold; padding:30px">
    <h2 style="padding:30px;">Hi there! Welcome to the Rock Paper Scissors Challenge</h2>
    <form action="/game" method="post">
        <h3>Enter your name: <input id="player1-name-textbox" type="text" name="player1"></h3>
        <input id="names-submit" class="btn btn-secondary" type="submit" value="Confirm">
    </form>
</body>

</html>