<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Hi, welcome to Rock Paper Scissors!</h1>
    <p>What's your name?</p>
    <form action="/game" method="post">
        <p>Player 1: <input id="player1-name-textbox" type="text" name="player1"></p>
        <!-- <p>Player 2: <input id="player2-name-textbox" type="text" name="player2"></p> -->

        <input id="names-submit" type="submit" value="Submit!">
    </form>
</body>

</html>