<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body style="background-color: rgb(169, 245, 245); text-align: center; font: bold; padding:30px">
    <h2><%= name %>, you chose: <%= weapon %></h2>
    <h2>Your opponent chose: <%= computerWeapon %></h2>
    <h1><%= result %></h1>

    <form id="play-again-form" action="/play-again" method="post">
        <input id="playAgain-submit" class="btn btn-secondary" type="submit" value="Play Again">
     </form>

</body>

<script>
    document.getElementById("play-again-form").addEventListener("submit", (event) => {
        event.preventDefault();
        fetch('/play-again', { method: 'POST' })
            .then(() => window.location.href = '/')
            .catch((error) => console.error('Error occurred while playing again:', error));
    });
</script>


</html>